<div class="resume">
  <div class="personalInfo">
    <h1>{{ dev.name }}</h1>
    <address>
      {{ dev.address.street }}<br>
      {{ dev.address.city }}, {{ dev.address.state }} {{ dev.address.zip }}<br>
      {{ dev.phone }} <br>
      {{ dev.email }}
    </address>
  </div>

  <div class="summary">
    <h2>Summary:</h2>
    <p>
      {{ dev.summary }}
    </p>
  </div>

  <div class="education">
    <h2>Education</h2>
    <p>{{dev.education.school | uppercase }} <span class="educationDates">2019 - 2023</span><br />
      {{ dev.education.degree }}
    </p>
  </div>

  <div class="experience">
    <h2>Experience</h2>
    <div *ngFor="let job of dev.jobHistory">
      <p>{{ job.company }}, {{ job.title }} <span class="employmentDates">{{ job.dates }}</span></p>
      <ul>
        <li *ngFor="let duty of job.duties">{{ duty }}</li>
      </ul>
    </div>
  </div>
</div>
